<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- configuration 생성 -->
<configuration>

    <environments default="dev">
        <!-- environment 생성 -->
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost_3306/menudb"/>
                <property name="username" value="kyungbae"/>
                <property name="password" value="kyungbae"/>
            </dataSource>
        </environment>

    </environments>
    <!--
    <mappers>
        <mapper resource="config/mybatis-config.xml"/>
    </mappers>
    -->

</configuration>