<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--
    * settings : mybatis 세팅

    *typeAlias : 별칭 등록
    -->
    <environments default="dev">
        <!-- environment 생성 -->
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/menudb"/>
                <property name="username" value="seungjoo"/>
                <property name="password" value="seungjoo"/>
            </dataSource>
        </environment>
    </environments>


    <!--
    <mappers></mappers>


    매퍼 파일 : sql문이 작성되어있는 sql문 등록
    -->
</configuration>
