<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sotogito.section03.dao.MenuMapper">

    <resultMap id="menuResultMap" type="MenuDto">
        <id      column="menu_code"         property="menuCode"/>
        <result  column="menu_name"         property="menuName"/>
        <result  column="menu_price"        property="menuPrice"/>
        <result  column="category_code"     property="categoryCode"/>
        <result  column="orderable_status"  property="orderableStatus"/>
    </resultMap>

    <resultMap id="categoryResultMap" type="CategoryDto">
        <id      column="category_code"      property="categoryCode"/>
        <result  column="category_name"      property="categoryName"/>
        <result  column="ref_category_code"  property="refCategoryCode"/>
    </resultMap>




    <select id="selectAllMenu" resultMap="menuResultMap">
        SELECT
            menu_code
          , menu_name
          , menu_price
          , category_code
          , orderable_status
        FROM
            tbl_menu
        ORDER BY
            menu_code DESC
    </select>

    <select id="selectMenuByMenuCode" parameterType="_int" resultMap="menuResultMap">
        SELECT
            menu_code
          , menu_name
          , menu_price
          , category_code
          , orderable_status
        FROM
            tbl_menu
        WHERE
            menu_code = #{menuCode}
    </select>

    <select id="selectMenuByCategoryCode" parameterType="_int" resultMap="menuResultMap">
        SELECT
            menu_code
          , menu_name
          , menu_price
          , category_code
          , orderable_status
        FROM
            tbl_menu
        WHERE
            category_code = #{categoryCode}
    </select>

    <!--
    - 하위 카테고리 목록
    신규 메뉴 조회
    -->

    <select id="selectAllSubCategory" resultMap="categoryResultMap">
        SELECT
            category_code
          , category_name
          , ref_category_code
        FROM
            tbl_category
        WHERE
            ref_category_code IS NOT NULL
    </select>

    <insert id="insertMenu" parameterType="MenuDto" useGeneratedKeys="true" keyProperty="menuCode">
        INSERT INTO
            tbl_menu
            (
              menu_name
            , menu_price
            , category_code
            , orderable_status
            )
        VALUES
            (
              #{menuName}
            , #{menuPrice}
            , #{categoryCode}
            , #{orderableStatus}
            )
    </insert>

    <update id="updateMenuByMenuCode" parameterType="MenuDto">
        UPDATE
            tbl_menu
        SET
            menu_name = #{menuName}
          , menu_price = #{menuPrice}
          , category_code = #{categoryCode}
          , orderable_status = #{orderableStatus}
        WHERE
            menu_code = #{menuCode}
    </update>

    <delete id="deleteMenuByMenuCode" parameterType="_int">
        DELETE
        FROM
            tbl_menu
        WHERE
            menu_code = #{menuCode}
    </delete>
</mapper>

