<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kangbroo.section02.mapper_interface.MenuMapper">

    <insert id="insertMenu" parameterType="com.kangbroo.dto.MenuDto">
        INSERT INTO
        tbl_menu
        (
        menu_name
        , menu_price
        , orderable_status
        )
        VALUES
        (
        #{menuName}
        , #{menuPrice}
        , #{orderableStatus}
        )
    </insert>

    <select id="selectMenuByCode" parameterType="_int" resultType="com.kangbroo.dto.MenuDto">
        SELECT
        menu_code
        , menu_name
        , menu_price
        , category_code
        , orderable_status
        FROM
        tbl_menu
        WHERE
        menu_code = #{code}
    </select>

    <select id="selectMenuCountByPrice" parameterType="_int" resultType="_int">
        <![CDATA[
            SELECT
                COUNT(*)
            FROM
                tbl_menu
            WHERE
                menu_price <= #{price}
        ]]>
    </select>

    <select id="selectMenuByCategory" parameterType="java.lang.String" resultType="com.kangbroo.dto.MenuDto">
        SELECT
        menu_code
        , menu_name
        , menu_price
        FROM
        tbl_menu
        WHERE
        category_code = (SELECT category_code
        FROM tbl_category
        WHERE category_name = #{category})
    </select>

</mapper>