<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.younggalee.section03.dao.MenuMapper">
    <resultMap id ="menuResultMap" type="MenuDto">
        <id column="menu_code" property="menuCode"/>
        <result column="menu_name" property="menuName"/>
        <result column="menu_price" property="menuPrice"/>
        <result column="category_code" property="categoryCode"/>
        <result column="orderable_status" property="orderableStatus"/>
    </resultMap>

    <resultMap id ="categoryResultMap" type="CategoryDto">
        <id column="category_code" property="categoryCode"/>
        <result column="category_name" property="categoryName"/>
        <result column="ref_category_code" property="refCategoryCode"/>
    </resultMap>

    <!-- 전체 메뉴 목록 조회 -->
    <select id="selectAllMenu" resultMap="menuResultMap">
        SELECT
            menu_code
            , menu_name
            , menu_price
            , category_code
            , orderable_status
        FROM
            tbl_menu
        ORDER BY
            menu_code DESC
    </select>
    <!-- 메뉴코드로 메뉴 조회 -->
    <select id="selectMenuCode" parameterType="_int" resultMap="menuResultMap">
    SELECT
        menu_code
        , menu_name
        , menu_price
        , category_code
        , orderable_status
    FROM
        tbl_menu
    WHERE
        menu_code = #{code}
   </select>
    <!-- 카테고리번호로 메뉴 조회 -->
    <select id="selectMenuByCategoryCode" parameterType="_int" resultMap="menuResultMap">
    SELECT
        menu_code
        , menu_name
        , menu_price
        , category_code
        , orderable_status
    FROM
        tbl_menu
    WHERE
        category_code = #{code}
    </select>
    <!-- 하위 카테고리 목록 조회 -->

    <!-- 하위 카테고리 목록 조회 -->
    <select id="selectAllSubCategory" resultMap="categoryResultMap">
        select
        category_code
        , category_name
        , ref_category_code
        from
        tbl_category
        where
        ref_category_code is not null
    </select>
    <!-- 신규 메뉴 등록 -->
    <!-- 자식테이블에 활용하기 위해서 key관련 사용함다고 함 -->
    <insert id="insertMenu" parameterType="MenuDto" useGeneratedKeys="true" keyProperty="menuCode">
        insert into
            tbl_menu
            (
              menu_name
            , menu_price
            , category_code
            , orderable_status
        values
            (
              #{menuName}
            , #{menuPrice}
            , #{categoryCode}
            , #{orderableStatus}
            )
    </insert>
    <!-- 기존 메뉴 수정 -->
    <update id="updateMenu" parameterType="MenuDto">
        update
        tbl_menu
        set
        menu_name = #{menuName}
        , menu_price = #{menuPrice}
        , category_code = #{categoryCode}
        , orderable_status = #{orderableStatus}
        where
        menu_code = #{menuCode}
    </update>

    <!-- 기존 메뉴 삭제 -->
    <delete id="deleteMenu" parameterType="_int">
        delete
        from tbl_menu
        where
        menu_code = #{code}
    </delete>

</mapper>