<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/위/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- 언더바를 낙타표기법으로 해서 매핑 -->
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/menudb"/>
                <property name="username" value="kangbroo"/>
                <property name="password" value="kangbroo"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="section02/mapper_interface/menu-mapper.xml"/>
    </mappers>

</configuration>